* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    box-sizing: border-box;
}

:root {
    /* COLOR */
    --white: #FFFFFF;
    --black: #020202;
    --blue: #479DEE;
    --yellow: #FCF912;

    /* FONT */
    --game-font: "Pixelify Sans", sans-serif;
    --general-font: "Roboto", sans-serif;
    --slim-font: "Roboto Condensed", sans-serif;

    /* SIZE */
    --margin-y-content: 30px;
    --border-content-weight: 20px;
    --border-content: var(--border-content-weight) solid var(--blue);
    --padding-content: 1.875rem;
    --max-width-side-menu: 24rem;
}

/* ||-------- GENERAL STYLE */
body {
    color: var(--white);
    font-family: var(--general-font);
    background-color: var(--black);
    scrollbar-color: var(--blue) transparent;

}

.game-text {
    font-family: var(--game-font);
}

.slim-text {
    font-family: var(--slim-font);
}

h2 {
    font-family: var(--game-font);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline solid var(--blue);
    text-decoration-thickness: 0.313rem;
}

h3 {
    font-family: var(--game-font);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* ||-------- HOME */
.home__bg {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/pacman.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    position: absolute;
    width: 100%;
    max-width: 1255px;
    height: calc(100vh - 11.938rem - 3.438rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.home-container h1 {
    font-size: 4.5rem;
    /* margin-bottom: 5.5rem; */
}

.home-container p {
    font-size: 2rem;
}

.home-container > p {
    margin-bottom: 1.188rem;
}

.home__highlight-text {
    font-size: 2.625rem;
}

.home__buttons-container {
    margin-top: 2rem;
    display: flex;
    gap: 5.625rem;
}

.home__button-container button {
    background-color: transparent;
    border: none;
    margin-bottom: 1.188rem;
}


/* ||-------- MAIN */
main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: var(--black);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ||-------- MAIN CONTENT */
.content {
    border: var(--border-content);
    width: calc(100vh - (2 * var(--margin-y-content)));
    height: calc(100vh - (2 * var(--margin-y-content)));
    padding: var(--padding-content);
}


/* ||-------- MAIN CONTENT SKILLS */
.skills-and-experiences {
    height: 90%;
    max-height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills-and-experiences h2 {
    margin-bottom: 3.875rem;
}

.skills__anim-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.skills__logos-with-ghost {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.skills__logos {
    display: flex;
    gap: 2.688rem;
}

.skills__logos img {
    height: 6.25rem;
    margin-bottom: 1.5rem;
}

.skills__logos figcaption {
    text-align: center;
    font-size: 1.375rem;
    font-weight: bold;
}

.experiences__lists li {
    font-size: 1.375rem;
    list-style-type: none;
    padding-left: 3.438rem;
    background-image: url("../assets/images/rectangle.png");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position-y: 0.125rem;
}

.experiences__lists li:last-child {
    font-size: 1.25rem;
    background-image: none;
}

.experiences__lists span {
    display: block;
    margin-left: 3rem;
}


/* ||-------- MAIN CONTENT PROJECTS */
.projects {
    width: 100%;
}

.projects h2 {
    margin-bottom: 5.188rem;
}

.projects__folders {
    height: calc(100vh - (2 * (var(--margin-y-content) + var(--border-content-weight) + var(--padding-content))) - 2rem - 5.188rem);
    /* overflow-y: scroll; */
    display: flex;
    gap: 4.616rem;
    flex-wrap: wrap;
}


/* ||-------- MAIN CONTENT PROJECT-DETAIL */
.project-detail {
    height: calc(100% + 38px);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-detail__preview-images {
    width: 350px;
    height: max-content;
    /* border: 1px solid red; */
}

.project-detail__preview-images img {
    width: 319px;
    display: block;
    margin-inline: auto;
    margin-block: 5px;
    padding: 3px;
    border: 2px solid var(--blue);
    border-radius: 5px;
}

.project-detail__preview-images__buttons {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.project-detail__preview-images__buttons > * {
    width: 10px;
    height: 10px;
    border: none;
}

.project-detail__preview-images__buttons button:first-child {
    background-color: var(--yellow);
}

.project-detail__article p {
    margin-bottom: 1rem;
    text-indent: 3.125rem;
    font-size: 1.25rem;
}

.project-detail__table {
    font-size: 1.125rem;
    text-align: center;
    padding-top: 0;
    border-spacing: 1rem;
}

.project-detail__table th,
.project-detail__table td {
    width: max-content;
}

.project-detail__table span {
    display: block;
}

.project-detail__links a {
    color: var(--blue);
    font-size: 1.375rem;
    font-family: var(--game-font);
    text-decoration: none;
}

.project-detail__exit-button {
    background-color: transparent;
    border: none;
    align-self: self-end;
    position: relative;
    bottom: 100%;
    left: 15px;
}


/* ||-------- MAIN CONTENT ABOUT */
.about {
    height: 100%;
}

.about article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88%;
    max-height: 760px;
}

.about h2 {
    /* margin-bottom: 7.25rem; */
}

.about__detail {
    display: flex;
    gap: 2.813rem;
}

.about__detail-img {
    width: 14.938rem;
    border: 6px solid var(--blue);
    border-radius: 5px;
}

.about__detail-text {
    font-size: 1.375rem;
}

.about__contact h4 {
    font-family: var(--game-font);
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.about__contact__social-media-icons {
    width: 300px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.about__contact__contact-icon {
    width: 1.977rem;
    display: none;
}




/* ||-------- MAIN SIDE-MENU */
.side-menu {
    width: var(--max-width-side-menu);
}

.side-menu li {
    list-style: none;
    width: 15.625rem;
    margin-inline: auto;
    margin-bottom: 1.5rem;
}

.side-menu button {
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 2.5rem;
    width: 100%;
}

/* ||-------- FOOTER */
footer {
    position: relative;
    top: calc(50vh - (4 * 2.5rem) - (2 * 1.5rem));
}

footer p {
    text-align: center;
    font-size: 1.25rem;
}

footer a {
    color: var(--white);
    text-decoration: none;
}



/* --------for testing */
/* main */
/* .skills-and-experiences, */
.projects,
.project-detail,
.about 
{
    display: none;
}
