* {
    margin: 0;
    padding: 0;
}

:root {
    /* color */
    /* https://www.happyhues.co/palettes/3 no.15 */
    --white-color: #fffffe;
    /* card-bg-color icon-main-color */
    --light-blue: #d8eefe;
    /* bg-color */
    --dark-blue: #094067;
    /* hd-color  card-hd-color icon-stroke-color */
    --gray-blue-1: #5f6c7b;
    /* sub-hd-color card-p-color */
    --blue-color: #3da9fc;
    --gray-blue-2: #90b4ce;
    --red: #ef4565;



    /* --bg-color: #d8eefe; */
    /* --hd-color: #094067; */
    /* --sub-hd-color: #5f6c7b; */
    /* --card-bg-color: #fffffe; */
    /* --card-hd-color: #094067; */
    /* --card-p-color: #5f6c7b; */
    /* --icon-stroke-color: #094067; */
    /* --icon-main-color: #fffffe; */
    /* --icon-hglt-color: #3da9fc; */
    /* --icon-sc-color: #90b4ce; */
    /* --icon-tr-color: #ef4565; */
    /* fonts */
    --h-font: "Libre Baskerville", serif;
    --p-font: "Source Sans 3", sans-serif;
}

body {
    font-family: var(--p-font);
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

/* navbar */
nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    justify-content: space-between;
    align-items: center;
}

nav .menu-toggle {
    display: none;
}

nav .menu-list {
    list-style: none;
    /* width: 30%; */
    display: flex;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    background-color: aqua;
    width: 20px;
    height: 20px;
    right: 16px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: inherit;
    margin: 20px;
}

nav a:hover {
    color: var(--gray-blue-1);
}

/* end of navbar */

/* main */
.main-info {
    background-color: var(--light-blue);
    display: flex;
    padding: 100px 50px;
    justify-content: space-around;
}

.main-info .photo {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-image: url(img/photo.jpg);
    background-size: cover;
    box-shadow: 0px 0px 3px var(--gray-blue-1);
}

.main-info .info {
    margin-left: 50px;
    width: 50vw;
    align-content: end;
    color: var(--dark-blue);
    line-height: 30px;
}

.info-text p {
    font-size: 1.1em;
}

.info-text h2 {
    font-family: var(--h-font);
}

.info-btn {
    margin: 10px 0;
}

.info-btn button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-blue);
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
}

.info-btn button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

/* end of main */

/* project */
.project {
    background-color: var(--white-color);
    padding: 120px 50px;
    text-align: center;
}

.project h2 {
    font-family: var(--h-font);
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.project p {
    color: var(--gray-blue-1);
    /* line-height: 30px; */
}

.project .title {
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: var(--dark-blue);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px var(--gray-blue-1);
}

.project-card:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 3px var(--gray-blue-1);
}

.project-card img {
    width: 100%;
    margin: 10px 0;
}

.project-card p {
    color: var(--light-blue);
}

/* end of project */

/* Contact */
.contact {
    background-color: var(--light-blue);
    padding: 120px 50px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--dark-blue);
    font-family: var(--h-font);
}

.input-text {
    display: grid;
    margin: auto;
    max-width: 60%;
}

.input-text label {
    color: var(--dark-blue);
    font-weight: 500;
}

.input-text input,
.input-text textarea {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: var(--white-color);
    border: none;
    color: var(--dark-blue);
    font-weight: 500;
    font-family: var(--p-font);

}

.input-text textarea {
    resize: none;
}

.input-text input {
    height: 30px;
    border-radius: 5px;
}

.contact button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--red);
    border: none;
    color: var(--white-color);
    font-size: 1em;
}

/* end of Contact */

/* footer */
footer {
    padding: 10px 20px;
    background-color: var(--dark-blue);
}

footer p {
    color: var(--light-blue);
}

/* end of footer */

/* Responsive Breakpoint*/

@media screen and (max-width: 1024) {
    /* laptop */

}

@media screen and (max-width: 768px) {
    /* tablet */

    .main-info {
        flex-direction: column;
        padding: 100px 50px;
    }

    .main-info .photo {
        width: 50vw;
        height: 50vw;
        margin: 0 auto 50px;
    }

    .main-info .info {
        /* margin-top: 50px; */
        width: 80vw;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {

    /* handphone */
    nav .menu-toggle {
        display: block;
        z-index: 1;
    }

    nav .title {
        z-index: 1;
    }

    nav .menu-list {
        z-index: 0;
        position: absolute;
        flex-direction: column;
        width: 100%;
        right: 0;
        padding: 150px 0 20px;
        align-items: center;
        background-color: var(--dark-blue);
        border-top: 1px solid var(--light-blue);
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    nav .menu-list.slide {
        transform: translateY(0);
        opacity: 1;
    }

    nav li {
        padding: 5px;
    }

    .main-info {
        flex-direction: column;
        padding: 100px 50px;
    }

    .main-info .photo {
        width: 50vw;
        height: 50vw;
        margin: 0 auto 50px;
    }

    .main-info .info {
        /* margin-top: 50px; */
        width: 80vw;
        margin: auto;
        text-align: center;
    }


    .input-text {
        max-width: 100%;
    }
}